.wrapper-main {
    width: 100%;
    height: 420px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/contactbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.packages-banner {
    background-image: url(../../assets/Pakckages.jpeg) !important;
    width: 100%;
    height: 420px;
}

.faqs-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/banner5.jpg) !important;
    width: 100%;
    height: 420px;
}

.about-banner {
    background-image: url(../../assets/Aboutus.jpeg) !important;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center;
}

.contact-banner {
    background-image: url(../../assets/Contactus.jpeg) !important;
    width: 100%;
    height: 420px;
}

.details-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/banner4.jpg) !important;
    width: 100%;
    height: 420px;
}

.team-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/banner2.jpg) !important;
    width: 100%;
    height: 420px;
}
.blogs-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/banner4.jpg) !important;
    width: 100%;
    height: 420px;
}
.team-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(109, 107, 107, 0.508)), url(../../assets/banner2.jpg) !important;
    width: 100%;
    height: 420px;
}

/* Courses Heading */
.wrapper-heading {
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* z-index: 1; */
}

.wrapper-heading>h4 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrapper-heading>h6 {
    font-size: 16px;
    margin-bottom: 20px !important;
    font-weight: 400;
    opacity: 0.8;
}

.wrapper-heading>h6>span:hover {
    transition: all 0.4s;
    font-weight: 600 !important;
    color: var(--btn-bg);
}

@media (max-width: 768px) {
    .wrapper-heading>h6 {
        font-weight: 400;
        line-height: 15px;
    }

    .wrapper-heading>h4 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px !important;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .wrapper-main {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

}