.process-main {
    background-color: #ebebebe5;
}
.process-box {
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.process-icon {
    margin-bottom: 20px;
}

.process-icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.process-heading h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.process-heading p {
    font-size: 15px;
    color: #666;
}

@media (max-width: 768px) {
    .title {
        font-size: 26px;
    }

    .process-box {
        padding: 24px 20px;
    }

    .process-icon img {
        width: 50px;
        height: 50px;
    }
}
