.our-team-main {
    background-color: #fff9f1;
    padding: 60px 0; /* Add padding for section spacing */
}

.our-team-card-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.instructor-item {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /* Set a max-width for consistent card size */
}

.instructor-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.instructor-inner {
    padding: 25px 20px;
}

.instructor-thumb {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.instructor-thumb img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    background-position: center;
    /* background-size: contain; */
    transition: transform 0.3s ease;
}

.instructor-item:hover .instructor-thumb img {
    transform: scale(1.05);
}

.instructor-content a {
    text-decoration: none;
    color: #101115;
    transition: color 0.3s ease;
}

.instructor-content a:hover h4 {
    color: #f16126;
}

.instructor-content h4 {
    margin-bottom: 10px !important;
    font-size: 1.6rem;
    color: #101115;
    font-weight: 700;
    line-height: 1.3;
    transition: color 0.3s ease;
}

.instructor-content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
}

.ratting i {
    font-size: 1rem;
    color: #f16126;
}

.instructor-footer {
    border-top: 1px solid #ecf0f3;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 0 0 8px 8px;
}

ul.lab-ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.instructor-footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #555;
}

.instructor-footer ul li i {
    margin-right: 5px;
    color: #f16126;
}

.instructor-footer ul li:hover i,
.instructor-footer ul li:hover p {
    color: #101115;
}

.our-team-link p{
    font-weight: 400;
    line-height: 24px;
}

.our-team-link p a{
    font-weight: 500;
    /* text-decoration: none; */
    color: var(--them-color);
    line-height: 25px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.our-team-link p > a:hover {
    color: var(--them-color);
}

@media (max-width: 768px) {
    .our-team-link p{
        font-weight: 400;
        line-height: 15px;
    }
    .instructor-content h4 {
        font-size: 24px;
    }
    .instructor-thumb img {
        height: 180px;
    width: 180px;
    }
  } 