.adventure-main{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/banner-4.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adventure-heading h5{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 15px !important;
    font-family: "Birthstone", cursive;
}
.adventure-heading h2 {
    font-size: 49px;
    font-weight: 800;
    color: white;
}
.adventure-heading > button {
    margin-top: 40px;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: var(--them-prim);
    border-radius: 12px;
}


@media (max-width: 768px) {
    .adventure-heading h5{
        font-size: 22px;
    }
    .adventure-heading > button {
        margin-top: 40px;
        padding: 12px 20px;
    }   
    .adventure-heading h2 {
        font-size: 29px;
        font-weight: 800;
        color: white;
    }
    .adventure-heading > button {
        margin-top: 30px;
        padding: 15px 20px;
        font-size: 12px;
        font-weight: 600;
        border: none;
        color: var(--them-prim);
        border-radius: 12px;
    }
}